#main-text {
    margin-top: 40vh;
    text-align: center;
    font-size: 80;
    color: white;
}

.container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.button{
    font-size: 55px;
    border-radius: 12px;
    color: white;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    transition-duration: 0.4s;
}

.button:hover {
    width: 110px;
    height: 110px;
}